html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

/* Basic styles */
body {
    font-family: 'Arial', sans-serif;
    padding-top: 56px;
    background-color: #000; /* Black background */
}

header {
    background-color: #333; /* Dark gray header */
    color: #fff; /* White text */
}

section {
    padding: 5rem 0;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #ff9900; /* Orange color */
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #fff; /* White text */
}

.resume-content {
    padding: 2rem;
    border: 1px solid #6c757d; /* Dark gray border */
    border-radius: 5px;
    background-color: #6c757d; /* Dark gray background */
}

.resume-content p {
    color: #fff; /* White text */
}

.resume-content h3 {
    color: #fff; /* White text */
}

.resume-content h4 {
    color: #fff; /* White text */
}

/* Portfolio styles */
.card-img-top {
    width: 100%; /* Set width to 100% to fill the card */
    height: 150px; /* Adjust height to your desired value */
    object-fit: contain; /* Use contain to maintain aspect ratio */
    border-radius: 0; /* Removes any rounding on the image */
  }

/* Footer styles */
footer {
    background-color: #333; /* Dark gray footer */
    text-align: center;
    color: #fff; /* White text */
}

/* Add your own custom styles here */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
  }

  body {
    padding-top: 56px;
  }

.navbar-brand.text-white {
    color: #fff;
}

.nav-link.text-white {
    color: #fff;
}

.card-title.text-orange {
    color: #ff9900;
}

.card-link {
    text-decoration: none;
    color: inherit;
  }

  .card-body {
    color: #000; /* Black text color */
  }
  .card-text {
    color: #000; /* Black text color */
  }
  .card-link:hover {
    text-decoration: none;
    color: inherit;
  }

  .btn-orange {
    background-color: orange;
    color: white;
    transition: transform 0.3s, background-color 0.3s;
  }

  .btn-orange:hover {
    background-color: darkorange;
    transform: scale(1.1);
  }

  /* Navbar link hover effect */
.nav-link {
    color: #fff;
    transition: color 0.3s, background-color 0.3s;
  }
    
  /* Active link style */
  .nav-link.active {
    background-color: #ff9900; /* Highlight background for active section */
    color: #000; /* Dark text for contrast */
    border-radius: 5px;
  }
  .custom-card {
    background-color: #6c757d;
    color: #fff; /* White text color */
    border: none; /* Optional: Removes border for a cleaner look */
  }